{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">state</th>
      <th scope="col">zipcode</th>
      <th scope="col">created_at</th>
      <th scope="col">id</th>

    </tr>
  </thead>
  <tbody>
   
        {% if records %}
        
        {% for record in records %}
        <!-- {{record}} -->
      <tr>

        <td>{{record.first_name}}
        {{record.last_name}}</td>
        <td>{{record.email}}</td>
        <td>{{record.phone}}</td>
        <td>{{record.address}}</td>
        <td>{{record.city}}</td>
        <td>{{record.state}}</td>
        <td>{{record.zipcode}}</td>
        <td>{{record.created_at}}</td>
        <td><a href="{% url 'record' record.id %}">{{record.id}}</a></td>
      </tr>  
        {% endfor %}
        
        {% endif %}

    
  </tbody>
</table>



{%else%}

<div class="col-md-6 offset-md-3">

<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home'%}">
    {% csrf_token %}
    
        <div class="mb-3">
          
          <input type="text" class="form-control" name="username", placeholder="Username" required>
          <br/>
          
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
 
        <br/>

        <button type="submit" class="btn btn-secondary">Login</button>
      


</form>

</div>
{% endif %}


{% endblock %}